@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
body, * {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body {
  font-family: 'Rubik', Verdana, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  background-size: 64px 128px;

  .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    width: 70vw;
    height: 60vh;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 15px;

    #title {
      text-align: center;
      font-size: 2.5rem;
      @media (max-width: 1200px) {
        font-size: 1.5rem;
      }
      @media (max-width: 720px) {
        font-size: 1rem;
      }
    }

    .chart {
      position: absolute;
      background-color: #fff;
      top: 3rem;
      @media (min-width: 1000px) {
        top: 4rem;
      }
    }
    @media (max-width: 720px) {
      width: 90vw;
    }
    @media (min-width: 1000px) {
      box-shadow: 2px 2px 20px #ccc;
    }
  }


}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: lightslategray;
  box-shadow: 1px 1px 10px;
  border-radius: 5px;
  @media (max-width: 720px) {
    font-size: 1rem;
  }
}

.hoverbar {
  position: absolute;
  background: #ccc;
  pointer-events: none;
}

#y-axis path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

#x-axis path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}